<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Sen:wght@400;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <title>movie booking</title>
</head>

<body>
    <div class="navbar">
        <div class="navbar-container">
            <div class="logo-container">
                <h1 class="logo">Show</h1>
            </div>
            <div class="menu-container">
                <ul class="menu-list">
                    <li class="menu-list-item active">Home</li>
                    <li class="menu-list-item">Movies</li>
                
                    <li class="menu-list-item">Popular</li>
                    <li class="menu-list-item">Trends</li>

                </ul>
            </div>
            <div class="profile-container">
                <img class="profile-picture" src="./pc.png" alt="">
                <div class="profile-text-container">
                    <span class="profile-text">Profile</span>
                    <i class="fas fa-caret-down"></i>
                </div>
                
            </div>
        </div>
    </div>
    <div class="sidebar">
        <i class="left-menu-icon fas fa-search"></i>
        <i class="left-menu-icon fas fa-home"></i>
        <i class="left-menu-icon fas fa-users"></i>
        <i class="left-menu-icon fas fa-bookmark"></i>
    
        
        
    </div>
    <div class="container">
        <div class="content-container">
            <div class="featured-content"
                style="background: linear-gradient(to bottom, rgba(0,0,0,0), #151515), url('./avenger\ latest.jpg');">
                <img class="featured-title" src="./avenger tit;e.png" alt="">
                <p class="featured-desc">Avengers: Endgame is a 2019 American superhero film based on the Marvel Comics superhero team the Avengers. Produced by Marvel Studios and distributed by Walt Disney Studios Motion Pictures, it is the direct sequel to Avengers: Infinity War (2018) and the 22nd film in the Marvel Cinematic Universe (MCU).</p>
                
                <a href="1.html" type="button" class="featured-button">Book Now</a>
                <a href="https://www.youtube.com/watch?v=TcMBFSGVi1c" type="button" class="featured-button">Watch Trailer</a>
                
            </div>
            <div class="movie-list-container">
                <h1 class="movie-list-title">NEW RELEASES</h1>
                <div class="movie-list-wrapper">
                    <div class="movie-list">
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="./joker.jpg" alt="">
                            <span class="movie-list-item-title">Joker</span>
                            <p class="movie-list-item-desc">Joker is a 2019 American psychological thriller film directed and produced by Todd Phillips.</p>
                                <a href="1.html" button class="movie-list-item-button">Book now</a>
                        
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="./toy.jpg" alt="">
                            <span class="movie-list-item-title">Toy Story</span>
                            <p class="movie-list-item-desc">Toy Story is a 1995 American computer-animated comedy film produced by Pixar Animation Studios and released by Walt Disney.</p>
                                <a href="1.html" button class="movie-list-item-button">Book Now</a>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="./lion.jfif" alt="">
                            <span class="movie-list-item-title">The Lion King</span>
                            <p class="movie-list-item-desc">The Lion King is a 2019 American musical drama film directed and produced by Jon Favreau, and produced by Walt Disney.</p>
                                <a href="1.html" button class="movie-list-item-button">Book Now</a>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="img/4.jpg" alt="">
                            <span class="movie-list-item-title">1917</span>
                            <p class="movie-list-item-desc">1917 is a 2019 British war film directed and produced by Sam Mendes, who co-wrote the film with Krysty Wilson-Cairns.</p>
                                <a href="1.html" button class="movie-list-item-button">Book Now</a>
                        </div>
                        
                        
                    
                        
                        
                        
                        
                    
                </div>
            </div>
            <div class="featured-content"
                style="background: linear-gradient(to bottom, rgba(0,0,0,0), #151515), url('img/f-2.jpg');">
                <img class="featured-title" src="img/f-t-2.png" alt="">
                <p class="featured-desc">Dark is a German science fiction thriller streaming television series co-created by Baran bo Odar and Jantje Friese.It ran for three seasons from 2017 to 2020. </p>
                    <a href="1.html" type="button" class="featured-button">Book Now</a>
                    <a href="https://www.youtube.com/watch?v=ESEUoa-mz2c" type="button" class="featured-button">Watch Trailer</a>        
            </div>
            <div class="movie-list-container">
                <h1 class="movie-list-title">Upcoming Movies</h1>
                <div class="movie-list-wrapper">
                    <div class="movie-list">
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="img/17.jpg" alt="">
                            <span class="movie-list-item-title">Aquaman</span>
                            <p class="movie-list-item-desc">Aquaman is a 2018 American superhero film based on the DC Comics character of the same name. </p>
                                <a href="https://www.youtube.com/watch?v=WDkg3h8PCVU" button class="movie-list-item-button">Watch Trailer</a>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="img/18.jpg" alt="">
                            <span class="movie-list-item-title">FairyTale</span>
                            
                                <a href="https://www.youtube.com/watch?v=9Yk5cBOTcZ8" button class="movie-list-item-button">Watch Trailer</a>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="img/19.jpg" alt="">
                            <span class="movie-list-item-title">SpiderMan</span>
                            
                                <a href="https://www.youtube.com/watch?v=g4Hbz2jLxvQ" button class="movie-list-item-button">Watch Trailer</a>
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="img/7.jpg" alt="">
                           
                                <a href="" button class="movie-list-item-button">Watch Trailer</a>
                        </div>
                       
                        
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
</body>

</html>

